body{
    font-family: 'Playfair Display', serif;
}

h1{
    font-weight: lighter;
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 15px;

}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    font-size: 15px;
    line-height: 23px;
    
}

li:first-letter{
    text-transform: capitalize;
}

a{
    text-decoration: none;
color: rgb(254, 186, 15);
font-weight: bold;
}

small{
font-size: 13px;
padding-left: 200px;
 line-height: 50px;
}

.weather-wrapper{
    max-width: 670px;
    margin: 30px auto;
}

.weather-border{
    padding: 10px;
    border: 1px solid rgb(254, 186, 15);
    border-radius: 10px;
}

.overview{
    margin-bottom: 15px;
}

.weather-temperature img{
    margin-top: 5px;
     width: 90px;
     height: 90px;
}


.weather-temperature strong{
    font-size: 65px;
    line-height: 1;
    font-weight: 350;
    color: rgb(254, 186, 15);

}

.weather-temperature .units{
position: relative;
font-size: 15px;
top: 13px;
color: rgb(254, 186, 15);
}

.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.searchbar{
border-color: rgb(254, 186, 15);
border-radius: 10px;
border-width: 1px;
text-align: center;
outline: none;
}

.city-name{
    color: rgb(254, 186, 15);
}

.weather-forecast{
margin-top: 10px;
text-align: center;
}

.weather-forecast-day{
font-size: 16px;
color: rgb(254, 186, 15);
opacity: 0.8;
}

.weather-forecast-temp{
font-size: 14px;
}

.weather-forecast-temp-min{
    opacity: 0.6;
}